@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D4AF37;
  --secondary: #6495ED;
  --shadow: #d4af3780;
  --background: #FFFFFF;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #EEEEEE;
  }
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;
}

nav.scrolled {
  background: var(--background);
  box-shadow: 0 0 10px var(--shadow);
}

nav .title {
  color: var(--prime);
  font-size: xx-large;
  background-image: linear-gradient(to right, var(--primary) 32%, var(--secondary) 63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  color: var(--background);
  background: var(--primary);
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--primary);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: var(--primary);
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--primary);
}

li > a {
  position: relative;
  transition: all 0.3s;
}

li > a::before {
  position: absolute;
  display: block;
  bottom: -5px;
  content: "";
  height: 2px;
  width: 0;
  background: var(--primary);
  transition: all 0.3s;
}

li > a:hover::before,
li > a.active::before {
  width: 80%;
}

.mobilenav {
  display: flex;
  flex-direction: column;
  background: #00000000;
  backdrop-filter: blur(10px);
  box-shadow: 0 10 10px #0000001a;
  transition: all 0.3s;
  z-index: 999;
}

nav.scrolled + .mobilenav {
  background: var(--background);
}
